

.main {
    width: 70%;
    margin-left: 30%;
    margin-top: 180px;
    padding-right: 50px;

    .container {
        background-color: white;
        box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.1);
        padding: 20px;
        border-radius: 10px;
     
        .section {
            height: 100dvh;
            scroll-snap-align: start;

            h1 {
                font-size: 2rem;
                margin-bottom: 15px;
            }

            p {
                font-size: 1.3rem;
                line-height: 1.5;
                max-width: 400px;
                display: block;
                margin-top: 10px;
            }
        }
    }
}