.main {
    // position: absolute;

    // left: calc(350px + 2rem);
    // top: 20.5%;

    
    .container {
        background-color: white;
        box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.1);
        padding: 20px;
        border-radius: 10px;
     
        .section {
            height: 100dvh;
            h1 {
                font-size: 2rem;
                margin-bottom: 15px;
            }

            p {
                font-size: 1.3rem;
                line-height: 1.5;
                max-width: 450px;
                display: block;
                margin-top: 10px;
            }
        }
    }
}