.nav {
    width: 100%;
    display: flex;
    justify-content: center;

    div {
        position: fixed;
        top: 0;
        backdrop-filter: blur(4px);
        background-color: white;
        z-index: 1;
        box-shadow: 1px 2px 10px 1px rgba(0, 0, 0, 0.1);
        padding: 1rem 1.5rem;
        border-radius: 0px 0px 30px 30px;

        .ul {
            display: flex;
            justify-content: center;
            align-items: center;
            flex: 1;
            gap: 1rem;
    
            .li {
                cursor: pointer;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }

}